# Austin Shelter Pet Outcomes <a name='top'></a>
*By Stephen FitzSimon*

## Key Takeaways From This Report

## Contents <a name='contents'></a>

*Note: the following hyperlinks will only work on local copies of this notebook; they will not function on GitHub!*

1. <a href='introduction'>Introduction</a>
    1. <a href='data_source'>Data Source</a>
2. <a href='wrangle'>Wrangle Data</a>

## Introduction <a name='introduction'></a>

<a href='https://www.austintexas.gov/austin-animal-center'>Austin Animal Center</a> provides animal services for the city of Austin, and unincorporated Travis county.  Since 2010 they have implemented a <a href='https://www.austintexas.gov/page/no-kill-plan'>'no-kill' strategy</a> to increase live outcomes for adoptions; this included community partnerships, community education, increased animal services and better data collection.  The goal of this project is to help understand how the Austin Animal Center can provide better services and outcomes for the animals and owners that they serve.

This report is structered around the data science pipeline of 1. wrangle the data, 2. explore the data and 3. model the data.  Each sections includes key takeaways followed by a discussion that provides more in depth analysis; these are designed to provide all the necessary information to understand the project and arguments.  For more technical and analytical information, visualizations, calculations and code follow these two sections along with annotations and discussions.  Hyperlinks are provided throughout to allow the user to navigate to relevant sections.

### Data Source <a name='data_source'></a>
The City of Austin provides an <a href='https://data.austintexas.gov/'>open data websit</a> where the data for this project can be found.
- <a href= 'https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238'>Outcome data can be found here</a>
- <a href= 'https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm'>Intake data can be found here</a>

<a href='contents'>Back to Contents</a>

In [ ]:
import pandas as pd

## Wrangle Data <a name='wrangle'></a>

### Key Wrangle Takeaways

### Discusion

In [4]:
df_outcome = pd.read_csv('Austin_Animal_Center_Outcomes.csv')
df_intake = pd.read_csv('Austin_Animal_Center_Intakes.csv')

In [5]:
df_outcome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141129 entries, 0 to 141128
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         141129 non-null  object
 1   Name              99501 non-null   object
 2   DateTime          141129 non-null  object
 3   MonthYear         141129 non-null  object
 4   Date of Birth     141129 non-null  object
 5   Outcome Type      141106 non-null  object
 6   Outcome Subtype   64753 non-null   object
 7   Animal Type       141129 non-null  object
 8   Sex upon Outcome  141128 non-null  object
 9   Age upon Outcome  141105 non-null  object
 10  Breed             141129 non-null  object
 11  Color             141129 non-null  object
dtypes: object(12)
memory usage: 12.9+ MB

In [13]:
df_intake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141255 entries, 0 to 141254
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         141255 non-null  object
 1   Name              99581 non-null   object
 2   DateTime          141255 non-null  object
 3   MonthYear         141255 non-null  object
 4   Found Location    141255 non-null  object
 5   Intake Type       141255 non-null  object
 6   Intake Condition  141255 non-null  object
 7   Animal Type       141255 non-null  object
 8   Sex upon Intake   141254 non-null  object
 9   Age upon Intake   141255 non-null  object
 10  Breed             141255 non-null  object
 11  Color             141255 non-null  object
dtypes: object(12)
memory usage: 12.9+ MB

In [15]:
df_intake['Sex upon Intake'].value_counts()

Intact Male      46670
Intact Female    44389
Neutered Male    21056
Spayed Female    17917
Unknown          11222
Name: Sex upon Intake, dtype: int64

In [16]:
df_outcome['Sex upon Outcome'].value_counts()

Neutered Male    49587
Spayed Female    44747
Intact Male      18034
Intact Female    17564
Unknown          11196
Name: Sex upon Outcome, dtype: int64